{% extends 'eservice/base.html'%}
{% load custom_tags %}
{% block content %}

<div class="row text-center">
    <div class="row text-center">
        <h2 class="mb-4">Сейчас у нас!</h2>
        <h4 class="mb-4">Всего рассылок: {{ context.total_newsletter_count }}</h4>
        <h4 class="mb-4">Активных рассылок: {{ context.active_newsletter_count }}</h4>
        <h4 class="mb-4">Уникальных клиентов: {{ context.unique_clients_count }}</h4>
    </div>
</div>

{% for blog in context.blogs %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ blog.title }}</h4>
        </div>
        <div class="card-body">
            <p class="mt-3 mb-4 text-start m-3">{{ blog.content }}</p>
        </div>
        <div class="card-footer">
            <p class="text-start mx-3">Просмотров: {{ blog.views_count }}</p>
        </div>
    </div>
</div>
{% endfor %}


{% endblock%}